<mat-card class="example-card" *ngIf = "movieDetails | async as details">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{details.original_title}}</mat-card-title>
      <mat-card-subtitle>
          <div>category: <span *ngFor = "let category of details.genres">{{category.name}} </span></div>
          <div *ngIf = "keyWord | async as keywords">keyword: <span *ngFor = "let k of keywords.keywords">{{k.name}}, </span></div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions *ngIf = "socialMedia | async as social">
      <a class="social" href = "https://www.facebook.com/{{social.facebookId}}"> Facebook</a>
      <a class="social" href = "https://www.imdb.com/title/{{social.imdbId}}">ImDb</a>
      <a class="social" href = "https://www.instagram.com/{{social.instagramId}}">Instagram</a>
      <a class="social" href = "https://twitter.com/{{social.twitterId}}">Twitter</a>
    </mat-card-actions>
  </mat-card>
