<mat-card class="example-card" *ngIf = "movieDetails | async as details">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{details.original_title}}</mat-card-title>
      <mat-card-subtitle>
          <div>category: <span *ngFor = "let category of details.genres">{{category.name}} </span></div>
          <div *ngIf = "keyWord | async as keywords">keyword: <span *ngFor = "let k of keywords.keywords">{{k.name}}, </span></div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf = "reviews | async as review">
      <div *ngFor = 'let r of review.results'><p>
        {{r.content}}
      </p> </div>
    </mat-card-content>
    <mat-card-actions *ngIf = "socialMedia | async as social">
      <button mat-button><a href = "https://www.facebook.com/{{social.facebookId}}"> Facebook</a></button>
      <button mat-button><a href = "https://www.imdb.com/title/{{social.imdbId}}">ImDb</a></button>
      <button mat-button><a href = "https://www.instagram.com/{{social.instagramId}}">Instagram</a></button>
      <button mat-button><a href = "https://twitter.com/{{social.twitterId}}">Twitter</a></button>
    </mat-card-actions>
  </mat-card>
